@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,::before,::after{

    padding:0;
    margin:0;
    box-sizing: border-box;
    /* color:rgb(80, 80, 80); */
    overflow-x: hidden;
    
}
html{
    scroll-behavior: smooth;
    background-image: url(./img/bg2.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    
    
    width: fit-content;
}
 body{
    background-image: url(motif2.png);
    background-size: cover;
    background-repeat: no-repeat;
    
 }
h1{
    font-weight: 600;
}


/* barre de navigation */
header{
    width:100%;
    height: fit-content;
    position: fixed;
    z-index: 2;
    
    
}

.scrolled{
    background-color: rgba(6, 20, 41, 0.7);

}

main{
    z-index: 1;
}

nav ul{
    display: flex;
    justify-content: right;
    margin: 20px 0;
    overflow: hidden;
     
}
nav ul a{
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    margin-right: 109px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 300;
}
.secFocus{
    transform: scale(1.1);
    cursor: default;
    pointer-events: none;
    text-shadow: 4px 4px 4px rgba(255, 255, 255,0.5);
    transition: 0.3s;
    
}


a{
    text-decoration: none;
    color: white;
}

.hoverUnderline {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
  .hoverUnderline:before {
    content: "";
    position: absolute;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: white;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hoverUnderline:hover:before, .hoverUnderline:focus:before, .hoverUnderline:active:before {
    left: 0;
    right: 0;
}

/* div d'accueil */

.presentation{
    
    font-family: 'Work Sans', sans-serif;
    height:90vh;
    width: 100vw;
    color:rgb(80, 80, 80);
    margin-top: 100px;

}

.presentation div{
    display: inline-block;
    vertical-align: middle;
    
}

.titre {
    font-size: 2.8rem;
    
}
.divTitle{
    height: 20vh;
    padding-top: 100px;
    font-weight: 100;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
}
.centre{
    display: flex;
    text-align: center;
    top: 30%;
    padding-bottom: auto;
    position: relative;

}
.presentationcont{
    width: 50%;
    text-align: left;
    
    
}

.presentation img {

    width:30%;
    vertical-align: middle;
    margin-right: 30px;
     
}

.titre{
    color: white;

}

.line1{
    color: rgb(100, 178, 250);
    font-size: 3rem;

}

/* div à propos */

.apropos{
    height:100vh;
    text-align: center;
    display: flex;
    overflow: hidden; 
    padding-bottom: 50px;
}

.apcont {
    width: 70%;
    font-family: 'Work Sans', sans-serif;
    color: white;
    margin: auto;
    font-weight: 400;
}

.apcont h1{
    font-size: 3rem;
    margin-bottom: 40px;
}

.apcont p{
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.citation{
    margin-top: 100px;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    color: rgb(100, 178, 250);
}
.pablo {
    font-style: italic;
    text-align: right;
    
}

/* Div compétences */

.competence{
    height: 100vh;
    display: flex;
    /* box-shadow: 0 0 14px rgba(0, 0, 0, 0.3); */
    color:rgb(109, 109, 109);
    overflow: hidden;
    
}

.competence p{
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 20px;
    
 
}

.competence div{
    display:inline-block;
    text-align: center;
    width: 30%;
    margin: auto auto;
    
}

main div h1{
    text-align: center;

}

/* cartes compétence */

.front{
    width: 40%;
    padding:20px 20px;
    background-color: rgba(255,255,255,0.1);
    height: 80vh;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;  
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    font-weight: 400;
    
}

.front p{
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    color: white;
    
}

.front div img{
    width: 20%;
    margin: 40px 30px;
    
}

.front div {
    display: inline;
    
}

.front h2 {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 15%;
    color: rgb(100, 178, 250);
    font-weight: 500;
    
}

.back{
    width: 40%;
    padding:20px 20px;
    background-color: rgba(255,255,255,0.1);
    height: 80vh;
    margin-left: 50px;
    margin-right: 50px;  
    border-radius: 5px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
     
}

.back p{
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    color: white;
    
}

.back div img{
    width: 20%;
    margin: 40px 30px;
    display: inline-block;
     
}

.back div {
    display: inline; 
    
}

.back h2 {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 15%;
    color: rgb(100, 178, 250);
    font-weight: 500;
    
}

.d{
    width: 40%;
    padding:20px 20px;
    background-color: rgba(255,255,255,0.1);
    height: 80vh;
    margin-left: 50px;
    margin-right: 50px;  
    border-radius: 5px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    
}

.d p{
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    color: white;
    
}

.d div img{
    width: 20%;
    margin: 40px 30px;
    display: inline-block;
    vertical-align: center;

}

.d div {
    display: inline; 

}

.d h2 {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 15%;
    color: rgb(100, 178, 250);
    font-weight: 500;

}

.project{
    height:fit-content;
    font-family: 'Work Sans', sans-serif;
    padding-top: 3%;
    display: flex;
    color: rgb(100, 178, 250);
    flex-wrap: wrap;
    
}


.project p{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    
}

.projet1{
    border-radius: 10px;
    width: 35%;
    height:70vh;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 50px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    color: white;
    position: relative;
    
    
}
.projet1:hover{
    background-color: rgba(53, 70, 105, 0.19);
    
    
}
.link{
    width:100%;
    position:absolute;
    margin: auto;
    bottom:10px;
    right: auto;
    left:auto;
    

}
.link a img{
    width:17%;
    margin-inline: 50px;
    opacity:0;
    pointer-events: none;
    
}

.projet1:hover .link a img{
    opacity: 1;
    transition: 0.3s;
    pointer-events: all;
    
}



.projet1 h2 {
    margin-bottom: 10px;
    font-size: 1.7rem;

}


.projet1 img{
    
    width: 100%;
    margin-bottom: 10px;
    
}
.projet1 p{
    text-align: left;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
}






.contact{
    height: fit-content;
    overflow: hidden;
    padding: 30px;
    
}

.formulaire{
    width: 60%;
    padding:20px 20px;
    height: 60vh;
    text-align: center;
    margin: auto; 
    vertical-align: middle;
    border-radius: 5px;
    overflow: hidden;
    
    font-family: 'Work Sans', sans-serif;
    
}
.formulaire a img{
    width: 15%;
    margin-inline: 50px;
    transition: 0.2s;
}
.formulaire img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}

.mail  {
    display: none;
    width: 100vw;
    height: 80vh;
    text-align: center;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
}

.mail form{
    text-align: center;
    display: inline-block;
    justify-content: center;
    
    
}
.mail input{
    width: 15vw;
    height: 3vh;
    resize: none;
    background: none;
    border-radius: 10px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    padding:10px;
    text-align: center;

}
.mail input:focus{
    background-color: rgba(255,255,255,0.1);

}
.mail textarea{
    width: 60vw;
    resize: none;
    background: none;
    border-radius: 10px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    padding:10px;
}
.mail textarea:focus{
    background-color: rgba(255,255,255,0.1);

}

.mail button{
    background: none;
    color: white;
    padding: 5px;
    font-family: 'Work Sans', sans-serif;
    width: fit-content;
    font-size: 2rem;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
}
.mail button:hover{
    background-color: rgba(255,255,255,0.1);
}

#merci{
    display:none;
    height:60vh;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    
}

#merci h1{
    font-weight: 300;
}